* {
    box-sizing: border-box;
}

body {
    background-color: #DDD0C8;
    /* Set the background color to your desired color */
}

#clock-png {
    max-width: 150px;
}

#clock-png img {
    height: auto;
    width: 75px;
    padding: 0px;
    margin-top: 25px;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 600px;
    margin-top: -100px;
    font-size: 100px;
    color: #323232;
    font-family: 'Bebas Neue', sans-serif;
}

#start-quiz {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 850px;
    margin-top: 150px;
    background-color: white;
    font-family: 'Bebas Neue', sans-serif;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

#start-quiz:hover {
    background-color: #F0B27A;
}

#timer {
    color: red;
    font-family: monospace;
    font-size: 75px;
    position: fixed; /* Set a fixed position for the timer */
    top: 25px; /* Adjust this value to control the vertical position */
    right: 1725px; /* Adjust this value to control the horizontal position */
    max-width: 300px;
}

#questionSetup {
    color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 600px;
    padding-bottom: 50px;
    font-size: 32px;
    max-width: 700px;
    margin-top: 50px;
}

#answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 700px;
}

#answer1, #answer2, #answer3, #answer4 {
    padding: 10px;
    font-size: 24px;
    max-width: 350px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover {
    background-color: #F0B27A;
}

h2 {
    margin-left: 1500px;
    margin-top: 325px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color:#323232


}

#score {
top: 40px;
left: 275px;
position: fixed;
max-width: 225px;
display: none;
font-family: 'Bebas Neue', sans-serif;
font-size: 60px;
color:#323232



}

#highScores h2 {
    font-size: 100px;
}

#study-png img {
    height: auto;
    width: 450px;
    max-width: fit-content;
    margin-top: 310px;
    position: fixed;
}